<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <script src="https://unpkg.com/vue@next"></script>

  </script>

  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="app">
        <img id=logo height=300px
        src="https://cdn.discordapp.com/attachments/794142371515990036/926507662047322153/Logo_ACC_Gtseries_solo.png">

        <div class='row tracks'>
          <div v-for='track in tracks' :key='track.title'
               class="our-card"

              max-width="344"
              >
              <img :src="track.img" height="200px"></img>

              <span class="title">
                {{ track.title }}
              </span>

              <span class='length'>
                {{ track.length }} km
              </span>
          </div>
        </div>

        <button @click="deleteRandomMap"
               v-if="tracks.length > 1"
               >
          Eliminate
        </button>
  </div>


  <script src="app.js"></script>
</body>
</html>
