<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>ACC GT Series - Trackpicker</title>

  <!-- PrimeVue -->
  <link href="https://unpkg.com/primevue@^3/resources/themes/saga-blue/theme.css" rel="stylesheet" />
  <link href="https://unpkg.com/primevue@^3/resources/primevue.min.css" rel="stylesheet" />
  <link href="https://unpkg.com/primeflex@2.0.0/primeflex.min.css" rel="stylesheet" />
  <link href="https://unpkg.com/primeicons/primeicons.css" rel="stylesheet" />


  <script src="https://unpkg.com/vue@next"></script>

  <script src="https://unpkg.com/primevue@^3/core/core.min.js"></script>
     <script src="https://unpkg.com/primevue@^3/image/image.min.js"></script>
  <script src="https://unpkg.com/primevue@^3/card/card.min.js"></script>


  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="app">
    <p-image src="https://cdn.discordapp.com/attachments/794142371515990036/926507662047322153/Logo_ACC_Gtseries_solo.png"
             alt="ACC GT Series Logo" width="400"></p-image>

    <div v-if='started' class=flex-container >
      <p-card v-for='track in tracks' :key='track.title'
              class='our-card'>
        <template #header>
          <img :src="track.img" width="500px"></img>
        </template>
      </p-card>

    </div>

    <div v-if='!started'>
      <div class="p-field">
        <p-inputnumber id="vertical" v-model="randomRunner"
                                     mode="decimal"
                                     show-buttons
                                     button-layout="vertical"
                                     style="width:4rem">
      </div>
      <p-button @click='repeatRandomSetup'>Belegen</p-button>
    </div>

    <div v-else>
      <p-button @click="deleteRandomMap"
                v-if="tracks.length > 1"
                class='p-button-danger'
                >
        Eliminate
      </p-button>
    </div>

  </div>


  <script src="app.js"></script>
</body>
</html>
