#app {
  text-align: center;
}

.tracks {
  margin: 30px;
  display: flex;
  flex-direction: row;
}

.our-card {
  flex: 1 1 auto;
  margin: 5px;  /* and that, will result in a 10px gap */
  max-width: 25rem;
  margin-bottom: 2em
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;
}
